<h1>Log in!</h1>
<%= form_for @member, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
<%= f.label :email %>
<br>
<%= f.text_field :email%>
<br>
<%= f.label :password %>
<br>
<%= f.password_field :password %>
<%= f.submit "Login" %>
<% end %>
