<% if @routine.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@routine.errors.count, "error") %>
      prohibited this routine from being saved:
    </p>

    <ul>
    <% @routine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=link_to "Home", member_path(current_member)%><br>
<%=link_to "Logout", logout_url%>
<%= form_for @routine do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>

<%= f.label "What kind of routine is this?" %><br>
<select name="routine[kind]" id="routine_kind"><option value="">Select workout type</option>
<option value="upper body ">upper body </option>
<option value="abs">abs</option>
<option value="lower body">lower body</option>
<option value="cardio">cardio</option>
<option value="full body">full body</option>
</select>
<br>
  <br>
  <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %><br>

  <%= f.label "What level workout is this?" %><br>
  <select name="workout[level]" id="workout_level"><option value="">Select workout level</option>
  <option value="easy">easy</option>
  <option value="medium">medium</option>
  <option value="hard">hard</option>
  </select>
  <br>

<%= f.submit %>

<% end %>
