<<<<<<< HEAD
<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%>
<br>
<%@routines.each do |routine|%>
=======
<%=link_to "Home", member_path(current_member)%><br>
<%=link_to "Logout", logout_url%><br>
<br>
<br>

<p>Full Body Routines:</p><br>
<%@routines.full_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Lower Body Routines:</p><br>
<%@routines.lower_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Upper Body Routines:</p><br>
<%@routines.upper_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Cardio Routines:</p><br>
<%@routines.cardio_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Ab Routines:</p><br>
<%@routines.ab_routines.each do |routine|%>
>>>>>>> 852f88e7b3389cb6d8c41428da53d22d04ba02a2
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
