
<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%>
<br>

<p>Full Body Routines:</p><br>
<%@routines.full_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Lower Body Routines:</p><br>
<%@routines.lower_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Upper Body Routines:</p><br>
<%@routines.upper_body_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Cardio Routines:</p><br>
<%@routines.cardio_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
<p>Ab Routines:</p><br>
<%@routines.ab_routines.each do |routine|%>
<%=link_to routine.name, routine_path(routine)%><br>
<%end%>
