<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%><br>
<a href="#" class="js-next" data-id="<%=@routine.id%>" data-member-id="<%=current_member.id%>">Next Routine</a>
<br>
<a href="#" class="js-prev" data-id="<%=@routine.id%>">Previous Routine</a>

<h1 class="routineName"><%= @routine.name %></h1>
<p class="routineKind"><%= @routine.kind %></p>


<ol>
<%@routine.exercises.each do |exercise|%>
<li><%=link_to exercise.name, routine_exercise_url(@routine, exercise)%></li><br>
<p>sets: <%=exercise.sets%></p>
<p>reps: <%=exercise.reps%></p>
<%if exercise.lbs != nil%>
<p>weight: <%=exercise.lbs%></p>
<%end%>
<%end%>
</ol>
<br>

<%=link_to "Edit Routine", edit_routine_path(@routine)%>

<%= form_tag routine_path(@routine), method: "delete" do %>
  <%= submit_tag "Delete #{@routine.name}", class: "delete-routine" %>
<% end %>
<br>
<br>

<p>Add Exercises!</p>

<ul id="exercise_list">
</ul>

<%= form_for @exercise do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<%= f.label :sets %>
<br>
<%= f.text_field :sets %>
<br>
<%= f.label :reps %>
<br>
<%= f.text_field :reps %>
<br>
<%= f.label :lbs %>
<br>
<%= f.text_field :lbs %>
<br>
<%= f.hidden_field :routine_id, :value => @routine.id %>
<br>
<%= f.submit 'submit', :class => "submit_button" %>

<% end %>
