<h3><%=@routine.name%></h3>
<p>*<%=@routine.kind%><br></p>
<ol>
<%@routine.exercises.each do |exercise|%>
<li><%=exercise.name%></li>
<%=exercise.sets%>
<%=exercise.reps%>
<%=exercise.lbs%>
<%end%>
</ol>
