<%=link_to "Home", member_path(current_member)%>
<%=link_to "Home", member_path(current_member)%>
<h3><%=@routine.name%></h3>
<p>*<%=@routine.kind%><br></p>
<ol>
<%@routine.exercises.each do |exercise|%>
<li><%=exercise.name%></li><br>
<p>sets: <%=exercise.sets%></p>
<p>reps: <%=exercise.reps%></p>
<%if exercise.lbs != nil%>
<p>weight: <%=exercise.lbs%></p>
<%end%>
<%end%>
</ol>
