<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%>
<h3><%=@routine.name%></h3>
<p>*<%=@routine.kind%><br></p>
<ol>
<%@routine.exercises.each do |exercise|%>
<li><%=link_to exercise.name, routine_exercise_url(@routine, exercise)%></li><br>
<p>sets: <%=exercise.sets%></p>
<p>reps: <%=exercise.reps%></p>
<%if exercise.lbs != nil%>
<p>weight: <%=exercise.lbs%></p>
<%end%>
<%end%>
</ol>
<br>

<%=link_to "Edit Routine", edit_routine_path(@routine)%>
