<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%><br>
<a href="#" class="js-next" data-id="<%=@routine.id%>" data-member-id="<%=current_member.id%>">Next Routine</a>
<br>

<h1 class="routineName"><%= @routine.name %></h1>
<p class="routineKind">Exercise Type: <%= @routine.kind %></p>


<div id="exerciseContainer2">
<%@routine.exercises.each do |exercise|%>
<div class="exerciseList2">
<p class="exerciseName2"><%=exercise.name%>:</p>
<p class="link"><%=link_to "View Exercise", routine_exercise_url(@routine, exercise)%></p>
<p class="exerciseSets2">sets: <%=exercise.sets%></p>
<p class="exerciseReps2">reps: <%=exercise.reps%></p>
<%if exercise.lbs != nil%>
<p class="exerciseLbs2">weight: <%=exercise.lbs%></p>
<%end%>
<br>
</div>
<%end%>
</div>

<div id="exerciseContainer">
  <div class="exerciseList">
    <p class="exerciseName"></p><br>
    <p class="link"></p>
    <p class="exerciseSets"></p>
    <p class="exerciseReps"></p>
    <p class="exerciseLbs"></p>
  </div>
</div>

<%=link_to "Edit Routine", edit_routine_path(@routine)%>

<div id="delete_routine"></div> 

<%= form_tag routine_path(@routine), method: "delete" do %>
  <%= submit_tag "Delete #{@routine.name}", class: "delete-routine" %>
<% end %>
<br>
<br>

<p>Add Exercises!</p>

<ul id="exercise_list">
</ul>

<div id="exerciseForm"></div>

<%= form_for @exercise do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<%= f.label :sets %>
<br>
<%= f.text_field :sets %>
<br>
<%= f.label :reps %>
<br>
<%= f.text_field :reps %>
<br>
<%= f.label :lbs %>
<br>
<%= f.text_field :lbs %>
<br>
<%= f.hidden_field :routine_id, :value => @routine.id %>
<br>
<%= f.submit 'submit', :class => "submit_button" %>

<% end %>
