


<% if @exercise.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@exercise.errors.count, "error") %>
      prohibited this exercise from being saved:
    </p>

    <ul>
    <% @exercise.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=link_to "Logout", logout_url%>
<%= form_for @exercise do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<%= f.label :sets %>
<br>
<%= f.text_field :sets %>
<br>
<%= f.label :reps %>
<br>
<%= f.text_field :reps %>
<br>
<%= f.label :lbs %>
<br>
<%= f.text_field :lbs %>
<br>

<%= f.label "What kind of workout is this?" %><br>
<select name="exercise[kind]" id="exercise_kind"><option value="">Select workout type</option>
<option value="upper body ">upper body </option>
<option value="abs">abs</option>
<option value="lower body">lower body</option>
<option value="cardio">cardio</option></select>
<br>

<%= f.submit 'submit', :class => "submit_button" %>

<% end %>

<div id="exercise_list"></div>
