<% if @exercise.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@exercise.errors.count, "error") %>
      prohibited this exercise from being saved:
    </p>

    <ul>
    <% @exercise.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=link_to "Logout", logout_url%>
<%= form_for @exercise do |f| %>
<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<%= f.label :sets %>
<br>
<%= f.text_field :sets %>
<br>
<%= f.label :reps %>
<br>
<%= f.text_field :reps %>
<br>
<%= f.label :lbs %>
<br>
<%= f.text_field :lbs %>
<br>

<%= f.label "What kind of workout is this?" %><br>
     <%= f.collection_select :kind, Exercise.select(:kind).uniq, :kind, :kind, {:include_blank => "Select workout type"}%>
<br>

<%= f.submit %>

<% end %>
