<%=link_to "Home", member_path(current_member)%>
<%=link_to "Logout", logout_url%>
<h3>Your exercise!</h3>
Name: <%=@exercise.name%><br>
<br>
Type of exercise: <%=@exercise.kind%><br>
Sets: <%=@exercise.sets%>
<br>
Reps: <%=@exercise.reps%>
<br>
Weight: <%=@exercise.lbs%>
<br>


<%=link_to "edit exercise", edit_exercise_path%>
