<h1>Hello, <%=@member.name%></h1>

<p>Are you ready to begin your workout?</p>

<p><a href="/routines/new">Make a new routine!</a></p>
<p><a href="/routines">Use an existing routine.</a></p>

<% if session[:member_id] %>
  <h1><%= @member.name %></h1>
  <h2>Email: <%= @member.email %></h2>
  <h2>Facebook UID: <%= @member.uid %></h2>
  <img src="<%= @member.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
