<%=link_to "Home", member_path(current_member)%><br>
<%=link_to "Logout", logout_url%>
<br>
<h1>Hello, <%=@member.name%></h1><br>

<p>Are you ready to begin your workout?</p>
<p>
  <!-- <%= link_to "Show My Routines", member_routines_path(@member), :class => "show_routines"%> -->
    <button class="show_routines" data-id="<%= @member.id %>">Show my routines</button>
</p>

<div class="routines"><ol></ol></div>
<%=link_to "Make a new routine!", new_routine_path%>
<br>
<%=link_to "Add exercises to the repertoire", new_exercise_path%>
<br>
<%=link_to "Check out all routines", routines_path%>
<br>
<%=link_to "Check out all exercises", exercises_path%>

<br>
<br>
<br>
<br>

<%=link_to "Edit Member", edit_member_path(@member)%>
